.b--card-b{
    display: inline-flex;
    width: 100%;
    text-decoration: none!important;
    border-bottom: 2px solid map-get($color-options, a);
    padding-bottom: $measure*3;
    margin-bottom: $measure*3;
    margin-left: 0px!important;
    @include make-row();
    &__media{
        @include make-col(2);
        //opacity: 0;
        transform: translateX(0);
        @media all and (max-width: $tabletp){
            @include make-col(6);
        }
        &__icon{
            height: $measure*5.5;
            margin-right: $measure*2;
            path{
                stroke: map-get($color-options, a);
                fill: transparent;
                transition: all $time-a ease-in-out;
            }
        }
    }
    &__date{
        @include make-col(2);
        @include make-font-f();
        color: map-get($color-options, a);
        text-align: right;
        @media all and (max-width: $tabletp){
            @include make-col(6);
        }
    }
    &__title{
        @include make-col(7);
        @include make-offset(1);
        @include make-font-c();
        color: map-get($color-options, a);
        @media all and (max-width: $tabletp){
            @include make-col(12);
            @include make-offset(0);
            margin-top: $measure*2;
        }
    }
    &:hover, &:focus{
        .b--card-b__media{
            transform: translateX(40px);
            &__icon{
                path{
                    fill: map-get($color-options, a);
                }
            }
        }
    }
}