@mixin make-radial-wrapper(){
    position: absolute;
    top: 0;
    left: 0;
    width: $measure*4;
    height: $measure*4;
}

@mixin make-radial($colorradial){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        border:1px solid rgba(map-get($color-options, $colorradial), .4);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        pointer-events: none;
    }
    &::after{
        content: "";
        position: absolute;
        opacity: 0;
        transition: .3s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $measure*2;
        height: $measure*2;
        border-radius: 50%;
        background-color: map-get($color-options, $colorradial);
    }
    &:checked::after{
        opacity: 1 !important;
    }
    &:focus::before{
        border:1px solid rgba(map-get($color-options, $colorradial), .7);
    }
}

@mixin make-radial-with-error($colorborder){
    &::before{
        border:1px solid map-get($color-options, $colorborder) !important;
    }
    &:focus{
        &::before{
            border:1px solid map-get($color-options, $colorborder) !important;
        }
    }
}